#app {
  display: flex;
  position: relative;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.buttonDesign {
  background-color: rgb(158, 252, 158);
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 5px;
  border: 0;
  padding: 0.5rem 1rem;
}

.buttonSpacing {
  padding-top: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  align-items: center;
}

.productImage {
  border-radius: 10px;
  width: 200px;
  height: 200px;
}

.itemName {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 1rem 0;
  color: #000;
}

.productPrice {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  letter-spacing: 1px;
  text-emphasis: bold;
}

.cartItem {
  width: 160px;
  height: 160px;
}

.cartSidebar {
  float: right;
}

.iconSize {
  background-image: './cart-icon.png';
  width: 45px;
  height: 45px;
}

.flipH {
  position: absolute;
  transform: rotate(360deg) scaleX(-1);
}

.diagonal-box {
  background-image: linear-gradient(45deg, rgb(195, 255, 199), rgb(1, 63, 5));
  transform: skewY(-11deg);
}

.content {
  max-width: 50em;
  margin: 0 auto;
  transform: skewY(11deg);
}

#sidebar {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  width: 220px;
  top: 0px;
  height: 100vh;
}

#sidebar .pro-sidebar {
  height: 100vh;
}
#sidebar .closemenu {
  color: #000;
  position: absolute;
  right: 0;
  z-index: 9999;
  line-height: 20px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 22px;
  top: 55px;
  cursor: pointer;
}
#sidebar .pro-sidebar {
  width: 100%;
  min-width: 100px;
}
#sidebar .pro-sidebar.collapsed {
  width: 80px;
  min-width: 80px;
}
#sidebar .pro-sidebar-inner {
  background-color: white;
  box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
}
#sidebar .pro-sidebar-inner .pro-sidebar-layout {
  overflow-y: hidden;
}
#sidebar .pro-sidebar-inner .pro-sidebar-layout .logotext p {
  font-size: 20px;
  padding: 0 20px;
  color: #000;
  font-weight: bold;
}
#sidebar .pro-sidebar-inner .pro-sidebar-layout ul {
  padding: 0 5px;
}
#sidebar .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
  color: #000;
  margin: 10px 0px;
  font-weight: bold;
}
#sidebar
  .pro-sidebar-inner
  .pro-sidebar-layout
  ul
  .pro-inner-item
  .pro-icon-wrapper {
  background-color: #b8fcb6;
  color: #000;
  border-radius: 3px;
}
#sidebar
  .pro-sidebar-inner
  .pro-sidebar-layout
  ul
  .pro-inner-item
  .pro-icon-wrapper
  .pro-item-content {
  color: #000;
}

#sidebar .pro-item-content {
  display: flex;
  align-items: center;
}

#sidebar .pro-sidebar-inner .pro-sidebar-layout .active {
  background-image: linear-gradient(0deg, #41944f 0%, #aeeeb3 100%);
}
#sidebar .logo {
  padding: 20px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(-220px + 100vw);
  padding: 200px 50px 0;
  background-color: #b8fcb6;
  clip-path: polygon(0 0, 100% 24%, 100% 100%, 0 79%);
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px 5px;
  justify-content: center;
  align-items: center;
  width: calc(-220px + 100vw);
}

.products-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 500;
}

.home-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

.home-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  text-align: center;
}

.single-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: calc(-220px + 100vw);
}
